// Here you can add other styles
@import "bootstrap-variables";

.main {
  padding-top: 20px;
}
.setting {
  margin: 0 20px;
  .header-setting-icon {
    font-size: 30px;
  }
}

.login-user {
  color: #536c79;
  padding: 5px;
  span {
    margin-left: 5px;
    font-size: 14px;
    &.company {
      font-size: 16px;
    }
  }
}

.navbar-brand {
  background-image: url('/img/1227_stocky.logo.svg') !important;
  background-size: 120px auto !important;
}

/*
 * modal
 */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 50%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
  max-height: 700px;
  overflow-y: auto;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-footer {
  position: relative;
  top: 20px;
}

/*
 * header
 */
.app-header {
  &.navbar {
    .item {
      &.active {
        border-bottom: 2px solid #20a8d8;
        padding: 7px 0;
        a {
          color: #20a8d8;
        }
      }
      a {
        font-size: 16px;
      }
    }
  }
}

/*
 * sidebar
 */
.sidebar .nav {
  min-height: auto;

  .nav-control {
    text-align: right;
    padding: 10px;

    a {
      color: #20a8d8;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.sidebar-product {
  margin-top: 20px;

  li {
    width: 200px;

    &.nav-item {
      a {
        padding-left: 5px;
      }
    }
  }

  .jan-code {
    color: lightgray;
    font-size: 11px;
  }

  .name {
    display: flex;
    margin-top: 5px;
    padding-right: 10px;

    div {
      font-size: 13px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 150px;
    }
  }

  .product-register {
    position: relative;
    right: 15px;
  }
}

.sidebar-palette,
.sidebar-lot {
  margin-top: 20px;

  li {
    width: 200px;
  }

  .name {
    display: flex;
    margin-top: 5px;
    font-size: 13px;
    padding-right: 10px;
  }
}

.nav-dropdown-items {
  padding-left: 15px !important;
}

.nav-dropdown-toggle {
  &.active {
    background: $blue !important;
    i {
      color: #fff !important;
    }
  }
}

.sidebar-nav {
  .nav-item {
    &.active {
      background: $blue;
      i {
        color: #fff !important;
      }
    }
  }
}

/*
 * page
 */
.page {
  color: #536c79;
  .main-title {
    font-size: 18px;
    font-weight: bold;
  }

  .card-columns {
    column-count: 5;
    .card {
      max-width: 15rem;
      cursor: pointer;
    }
  }

  &.product {
    .edit-icon {
      color: #20a8d8;
      cursor: pointer;
    }
    .card-columns {
      .card {
        .info {
          text-align: right;
          font-size: 13px;
        }
      }
    }

    .sort-btn {
      clear: both;
      cursor: pointer;
    }
  }

  &.stock {
    .container {
      overflow-x: auto;
    }
    h4 {
      font-size: 1.2rem;
    }
    .card-columns {
      .card {
        .order-date,
        .quantity {
          font-size: 16px;
        }
        .status {
          .label {
            width: 50%;
            text-align: center;
            float: right;
          }
        }
      }
    }
  }
}

.label-with-button {
  line-height: 33px;
}

.error-text {
  color: #f86c6b;
  line-height: 15px;
}

.w-30 {
  width: 30%;
}

.list {
  .card-item {
    min-width: 265px;
  }
}

