// Here you can add other styles

.header-setting-icon {
  font-size: 30px;
}

/*
 * modal
 */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 50%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-footer {
  position: relative;
  top: 20px;
}

/*
 * header
 */
.app-header {
  &.navbar {
    .item {
      &.active {
        border-bottom: 2px solid #20a8d8;
        padding: 7px 0;
        a {
          color: #20a8d8;
        }
      }
      a {
        font-size: 16px;
      }
    }
  }
}

/*
 * sidebar
 */
.sidebar .nav {
  min-height: auto;

  .nav-control {
    text-align: right;
    padding: 10px;
    
    a {
      color: #20a8d8;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.sidebar-product {
  margin-top: 20px;
}


